.container {
  display: grid;
  grid-template-rows: 64px 1fr; /* Top nav bar height + remaining space */
  grid-template-columns: 72px 1fr; /* Sidebar width + remaining space */
  height: 100vh; /* Adjust as needed */
}

.topbar {
  grid-row: 1;
  grid-column: 2;
}

.sidebar {
  grid-row: 1 / span 2;
  grid-column: 1;
}

.maincontent {
  grid-row: 2;
  grid-column: 2;
  overflow-x: scroll;
  display: grid; /* Add grid layout for main content */
  grid-template-columns: 1fr 360px;
}

.maincontent::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

.sidepanel {
  grid-column: 2;
}

.purple {
  background-color: #5b96ff44;
}

@media (max-width: 874px) {
  .container {
    grid-template-columns: 58px 1fr;
  }

  .maincontent {
    grid-column: 1;
  }

  .sidepanel {
    display: none;
  }
}

.purple {
  background-color: #3476f333;
}

.blue {
  background-color: #2d76ff;
}

.blue-border {
  border-color: #2d76ff;
}

.blue-text {
  color: #2d76ff;
}

.red {
  background-color: #f94d4d;
}

.red-dark {
  background-color: #351a1a;
}

.red-light .lightred {
  background-color: rgba(239, 68, 68, 100);
}

.grey-light {
  background-color: rgb(209, 213, 219);
}

.grey-dark {
  background-color: rgb(17, 24, 39);
}

.sidepanel-size {
  width: 400px;
  height: calc(100% - 100px);
  z-index: 2;
}
