@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("./components/fonts/Nunito_Sans_variableFont.ttf") format("truetype");
}

body {
  background-color: #666;
  font-family: "Nunito Sans";
}
